.k-field-type-page-dialog h2.k-headline {
  padding-bottom: var(--spacing-4);
}
.k-field-type-page-dialog-table {
  width: 100%;
  background: var(--color-gray-100);
  padding: var(--spacing-3);
}
.k-field-type-page-dialog-table td,
.k-field-type-page-dialog-table th {
  vertical-align: top;
  padding: var(--spacing-2);
  overflow: hidden;
  text-overflow: ellipsis;
}
.k-field-type-page-dialog-table .field_summary {
  display: none;
}
.k-field-type-page-dialog-table .k-field-type-page-change-display {
  padding-top: 3px;
}
.k-field-type-page-dialog-table .k-field-type-page-dialog-link {
  display: flex;
  font-size: 0.9em;
  line-height: 1.75em;
}
.k-field-type-page-dialog-table .k-field-type-page-dialog-link span.k-icon {
  --size: 0.99em;
  margin-right: 6px;
}
.k-formblock-license > .k-box {
  text-align: center;
}
.k-formblock-license-dialog .k-loader {
  display: inline-block;
  margin-right: 0.4em;
}
.k-formblock-license-dialog .loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.k-formblock-license-dialog .loader-text {
  line-height: 1.2em;
}
.k-formblock-license .link {
  text-decoration: underline;
  cursor: pointer;
}
